@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  background-image: initial;
  padding: 10px 100px 10px 100px;
  background-color: #e8e6e3;
}
